
@media only screen and (max-width: 768px) {
  .perc50 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .perc50 {
    width: 800px;
  }
}


.my-list {
  list-style-type: disc; /* Default bullet style */
  padding-left: 20px;    /* Space from the left edge */
  margin: 0;             /* Remove default margin */
}

.my-list li {
  margin-bottom: 8px;    /* Space between list items */
}