@media only screen and (max-width: 400px) {
  .btnmax {
    width: 100%;
    margin: 0px 0px 6px 0px;
  }
  .listmax {
    width: 100%;
    margin: 3px 0px 3px 0px;
  }
}

@media only screen and (min-width: 400px) {
  .btnmax {
    width: 16em;
    margin: 0px 2px 0px 2px;
  }
  .listmax {
    width: 50em;
    margin: 6px 0px 3px 0px;
  }
}


@media only screen and (max-width: 768px) {
  .perc50 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .perc50 {
    width: 800px;
  }
}

.fineprint {
  font-size: 0.85em;
  color: #888888;
  padding: 0px 0px 9px 0px;
}

.pseudoheading {
  font-size: 1.10em;
  font-weight: 500;
  color: #666666;
  padding: 0px 0px 0px 0px;
}

.pageheading {
  font-size: 1.20em;
  font-weight: 600;
  padding: 6px 0px 6px 0px;
}