
@media only screen and (max-width: 768px) {
  .perc50 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .perc50 {
    width: 800px;
  }
}

.rowformat {
  vertical-align: bottom;
  padding: 6px 0px 6px 0px;
}

.fineprint {
  font-size: 0.85em;
  color: #777777;
  padding: 0px 0px 9px 0px;
}

.pseudoheading {
  font-size: 1.10em;
  font-weight: 500;
  color: #666666;
  padding: 0px 0px 0px 0px;
}

.pageheading {
  font-size: 1.20em;
  font-weight: 600;
  padding: 6px 0px 6px 0px;
}