
@media only screen and (max-width: 768px) {
  .perc50 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .perc50 {
    width: 800px;
  }
}

.rowformat {
  vertical-align: bottom;
  padding: 6px 0px 6px 0px;
}